@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    font-family: "Cinzel", serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
 }

 .story-image {
    width: 45%;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
 }

 p {
    font-size: 20px;
 }

a {
    color: #066406;
    text-decoration: none;
    font-weight:700
}

a:hover {
    color: #8a0909;
    text-decoration : underline;
}

ul {
    list-style-type : none;
}